body {
        background-color: #838185;
}
        
h1{
    color: #ff859a;
}

h2{
    color: #ffb56f;
}

h3{
    color: #fcff5d;
}

h4{
    color: #82ff82;
}

h5{
    color: #70eeff;
}

h6{
    color: #ff6bff;
}